<div id="submitter">
	<div id="submissionForm">
		<h2>Sign up for early access</h2>
		<button type="button" 
				class="btn btn-primary btn-lg fbConnect"
				ng-click="submit(true)">
			Facebook Connect
		</button>
		<div class="orSeparator">
			<span class="orBg">or</span>
		</div>
		<form id="emailForm"
				ng-submit="submit()" 
				ng-model="submissionForm" 
				class="form-inline"
				role="form">
			<div class="form-group">
				<label class="sr-only" 
						for="formEmail">
					Your Email Address
				</label>
				<input id="formEmail"
						type="email"
						class="form-control" 
						ng-model="emailAddress" 
						tabindex=1 
						placeholder="Your Email Address"/>
			</div>
			<button id="formSubmit"
					type="submit" 
					class="btn btn-danger">
				Submit
			</button>
		</form>

	</div>
	<div id="confirmation">
		<h2>Thank you! We will email you when your account is ready.</h2>
		<a ng-click="resetForm()"
			class="reset">
			Sign up with a different email address
		</a>
	</div>
	<!-- <div ng-show="error && !saving">
		<p>{{errorMessage}}</p>
	</div> -->
	<div class="clearfix"></div>
	<!-- <a ng-click="unlinkFacebook()">disconnect from facebook</a> -->
</div>